name: push issues data to goals

on:
  issues: 
    types: ["opened", "edited", "deleted", "labeled", "unlabeled"]
    
  schedule: 
    - cron: "0 1 * * 0,2,4,6"
  
jobs:
  sauce-grab:
    name: Open Sauced Issue Caching
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build
      run: npm install
    - uses: open-sauced/actions/goals-caching@main
      if: github.repository_owner	!= 'open-sauced'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        LOGIN: ${{ github.repository_owner }}
    - name: Set up Git
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config user.name GitHub
        git config user.email noreply@github.com
        git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
    - name: Commit and push changes
      run: |
        git add .
        if output=$(git status --porcelain) && [ ! -z "$output" ]; then
          git commit --author "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>" --message "update the goals cache"
          git push
        fi
